/* INDEX */

#home-body {
    background-image: url(images/homeBackground.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 35%;
    font-family:'Montserrat', sans-serif;
}

.home-background-logo-figure {
    text-align: center;
}

#home-backgroung-logo-img {
    margin-top:4%;
    max-width:50%;
    width:auto;
    height:auto;
}

#home-pokeball-button {
    margin-left:47%;
    margin-top:-2%;
    max-width:6%;
    width:auto;
    height:auto;
}

#home-pokeball-button-text-hoover {
    position:absolute;
    text-align:center;
    visibility:hidden;
    color:#004d80;
    background:white;
    font-weight: 500;
    display: inline;
    padding:0.5% 1%;
    border-radius: 5px;
}

#home-pokeball-button:hover {
    animation:shake 0.5s infinite;
}

@keyframes shake{
    0%{transform: translate(0px 0px)}
    25%{transform: translate(5px, 0px)}
    50%{transform: translate(0px, 5px)}
    75%{transform: translate(-5px, 0px)}
    100%{transform: translate(0px, 0px)}
}

#home-pokeball-button:hover + #home-pokeball-button-text-hoover  {
visibility:visible;
}


/* POKEDEX */

/*TOP (Image and pokedex logo)*/
#pokedex-body {
    margin: 0%;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #88C2CE;
}

#pokedex-div-top {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    
}

#pokedex-img-top {
    width:100%;
    border-bottom: 1px solid #248f24;;
}

#pokedex-logo-top {
    position:absolute;
    width: 15%;
    margin-top:0px;
    margin-left:-62%;   
}



/* "SEARCH FOR POKEMON" and ORDER input */
#filter-input-and-select-order-div {
    position:relative;
    width: 100%;
}

#pokemon-search, #order, #option,#order-button {
    margin-left:1%;
    margin-top:1%;
    width: 30%;

    font-size:14pt;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    color:black;
    text-align: center;
    padding:0.5%;
   
    border-radius: 25px;
    border: 1pt solid #00ace6;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    
    outline: none;
    background-color: #D1E8F4;
    
}

#order {
    width: 15%;
    font-size:11pt;
}
  
#option {
    width: 10%;
    font-size:11pt;
}
.disabled-order {
    color:gray;
}

#order-button {
    width: 11%;
    font-size:11pt;
    background-color: #c1f0f0;
    border-color: #196666;

}

#order-button:hover {
    background-color: #28a4a4;
    animation:shake 0.5s infinite;
    cursor:pointer;
}

/*ORDER pokemons*/
.pokemon-card {
    position:relative;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 1.1%;
    padding: 4% 2% 0% 2%;
    
    background-color:white;

    text-align: center;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 25px 50px;
    border: 1pt solid #009900;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.lista-de-pokemons {
    display: inline;
}

.imagem-do-pokemon {
    position:relative;
    max-height: 170px;
    margin-top: -10%;
    size: 80%;
}

.nome-do-pokemon {
    position:relative;
    font-size:110%;
    bottom: 3%;
    font-weight: 600;
    color:#2e2e1f;
}
    
.id-do-pokemon {
    position:relative;
    bottom: 4%;
    font-size:80%;
    color:gray;
    left:-40%;
}

.tipo-do-pokemon {
    display: inline-flex;
    font-size: 80%;
    padding: 2% 8%;
    border-radius: 20px;
    margin-top: -30%;
    color:#1a1a1a;
}

p[value="Fire"] {
    background-color: #ff8533;
    border:1pt solid #ff8533
}

/* .dropbtn {
    background-color: rgb(175, 122, 224);
    color: rgb(255, 239, 239);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
.dropdown {
  position: relative;
  display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */















