
* {
    list-style: none;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #D4D3DD, rgb(175, 122, 224));
}

.lista-de-pokemons {
    display: inline-block;
}

.filters {
    text-align:center;
    margin: 5%;
}

/* .dropbtn {
    background-color: rgb(175, 122, 224);
    color: rgb(255, 239, 239);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
.dropdown {
  position: relative;
  display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */















